[bumpversion]
current_version = 3.0.3
commit = True
message = Ayesha Bump version: {current_version} -> {new_version}

[bumpversion:file:.bumpversion.cfg]

[bumpversion:file:acsoo.cfg]

[bumpversion:file:odoo/addons/ofh_all/__manifest__.py]

[bumpversion:file:odoo/addons/server_environment_files/dev/dev.conf]

[bumpversion:file:odoo/addons/server_environment_files/test/test.conf]

[bumpversion:file:odoo/addons/server_environment_files/valid/valid.conf]

